*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  background: #17181c;
  /*background-image: url("./images/bg.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
  font-family: sans-serif;
}

a:hover {
  opacity: 0.6;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 5px 9px;

  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 77.5%;

  letter-spacing: -0.04em;

  background-color: transparent;
  border: #ffffff solid 3px;
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover {
  opacity: 0.7;
}

.btn_color {
  width: 35px;
  height: 35px;
  margin: 0 4px;
}

.btn.active {
  border-color: #00bfff;
}

.btn_gray {
  background-color: #808080;
}

.btn_black {
  background-color: #000000;
}

.btn_silver {
  background-color: #8a9597;
}

.btn_dark {
  background-color: #a9a9a9;
}

.btn_reset {
  border: 1px solid #278d9f;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 0.4em;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2em;
}

.header {
  display: flex;
  padding: 10px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.header svg {
  width: 70px;
  height: auto;
}

.header__cart {
  position: relative;
  align-self: flex-start;
}

.header__cart img {
  width: 60px;
  height: 60px;
}

.header span {
  position: absolute;
  top: 1em;
  left: -0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: #ffffff solid 2px;
  border-radius: 50%;
  background-color: #17181c;
}

.header span.active {
  background-color: #f08080;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 800;
}

main {
  margin-bottom: 3em;
}

.filters {
  margin-bottom: 3em;
}

.filters__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters__item {
  padding: 1em;
  padding-top: 0;
  border: #ffffff solid 3px;
  border-radius: 7px;
}

.filters__item > * {
  margin-bottom: 0.7em;
}

.filters__subtitle {
  display: flex;
  margin-bottom: -15px;
}

.filters__colors {
  display: flex;
  align-items: center;
}

.filters__colors b {
  margin-right: 0.5em;
}

.filters__popular {
  display: flex;
  align-items: center;
}

.filters__popular input:hover {
  opacity: 0.7;
  cursor: pointer;
}

.filters__popular input {
  margin-left: 0.9em;
  transform: scale(2);
}

.filters__item_range b {
  display: flex;
  margin-bottom: 1em;
}

.filters__item_range > div {
  margin-bottom: 2em;
}

.filters__search {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #278d9f;
  border-radius: 20px;
  padding: 5px 10px;
}

.filters__item_search b {
  display: flex;
}

.filters__item_search input {
  margin-bottom: 1em;
}

.filters__item_search input:hover {
  opacity: 0.7;
}

.filters__item_search select {
  margin-bottom: 0.7em;
}

.filters__item_search select:hover {
  opacity: 0.7;
  cursor: pointer;
}

.filters__sort {
  width: 100%;
  padding: 5px 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider__output {
  flex-basis: 3.5em;
  flex-shrink: 0;
}

.slider_tgp .slider__output {
  flex-basis: 1.7em;
}

.slider__range {
  flex-basis: 100%;
  flex-shrink: 2;
  margin: 0 1.2em;
}

.slider__range:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  padding: 30px 0;
  background-color: #3d5247;
  color: #fcf9dc;
}

.footer__inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2em;
}

.footer span {
  margin-top: 0.3em;
}

.footer__github {
  margin-left: 30px;
  color: #fcf9dc;
}

.footer__rs-link {
  margin-left: auto;
}

.footer__rs-link svg {
  width: 100px;
}

@media (max-width: 1050px) {
  .filters__list {
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
}

@media (max-width: 750px) {
  .header h1 {
    font-size: 1.7rem;
  }

  .container {
    padding: 0 1em;
  }
}
